<section>
  <header>
    <h1>Lista de veículos</h1>
        <button (click)="goToCreate()" type="submit" 
          class="w-full text-white bg-primary-50 hover:bg-primary-700 focus:ring-4 
          focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 
          text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 
          cursor-pointer">Novo veículo
      </button>
  </header>

  <div *ngIf="loading()">
    Carregando veículos...
  </div>

  <div *ngIf="error()" class="error">
    {{ error() }}
  </div>

  <div *ngIf="!loading() && !vehicles().length">
    Nenhum veículo encontrado.
  </div>

  <ul *ngIf="!loading() && vehicles().length">
    <li *ngFor="let vehicle of vehicles()">
      <strong>{{ vehicle.modelo }}</strong>
      <div>Placa: {{ vehicle.placa }}</div>
      <div>Ano: {{ vehicle.anoFabricacao }}</div>
      <div>Criado em: {{ vehicle.createdAt | date: 'short' }}</div>
    </li>
  </ul>
</section>
